<!-- clock-slider -->
<section class="clock-slide">

    <div class="container">
        <div class="row g-3">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="clock-slider-img">
                    <img class="img-fluid" src="{{ section.settings.img | img_url:'' }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2>{{section.settings.title}}</h2>
                <div id="the-24h-countdown"> </div>
                <div class=" btn-4 ">
                    <button><a href="#">GET THE COURSE NOW</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="CHOOSE">
        <h2>{{ section.settings.title2 }}</h2>
    </div>
</section>
<!-- clock-slider -->
<script>
    setInterval(function time(){
        var d = new Date();
        var hours = 24 - 12;
        var min = 60 - d.getMinutes();
        if((min + '').length == 1){
          min = '0' + min;
        }
        var sec = 60 - d.getSeconds();
        if((sec + '').length == 1){
              sec = '0' + sec;
        }
        jQuery('#the-24h-countdown p').html('<span>'+hours+'<br> hours </span><span class="min">'+min+'<br> hours <br></span><span class="seg">'+sec+' <br> hours</span>')
      }, 1000);

</script>

{% schema %}
    {
        "name": "HURRY, YOUR",
        "class": "HURRY",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Course Outline ",
            "placeholder": "Course Outline"
          },
   
          {
            "type": "image_picker",
            "id": "img",
            "label": "Select your Image"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "Title two",
            "default": "GET THE COURSE NOW",
            "placeholder": "GET THE COURSE NOW"
          }

          
        ],
        "presets": [
            {
            "name": "HURRY, YOUR",
            "category": "HURRY, YOUR"
            }
            ]
        
    }
{% endschema %}