


<!-- slider section -->
<section class="slider">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="slider-img">
                    <img class="img-fluid" src="asserts/img/slider/potrait-of-aneka (1).webp" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="slider-datails">
                    <h4><b>Aneka has been in the sea moss industry for over three years.</b> In that short period of
                        time she has been able to scale her business from <b>making $58,000 in 2020 to already
                            earning over $100,000 in 8 months time during 2021.</b> This income was generated from
                        her Shopify site alone. She consistently receives over <b>200+ orders in a month</b> and she
                        is ready to teach others how to do the same.</h4>
                    <div class="btn btn-5 ">
                        <button><a href="#">KNOW MORE</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider section -->

<!-- dashboad section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="dashboard-img">
                    <img class="img-fluid" src="asserts/img/dashboard/shopify1knew (1).webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- dashboad section -->
<!-- section-padding -->
<section>
    <div class="section-padding">
        <h2>With <span class="spacial">Aneka</span>, You Become...</h2>
    </div>
</section>
<!-- section-padding -->

<!-- card section -->
<section class="card-section">
    <div class="container">
        <div class="row g-3">
            <!-- single-card -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-img">
                    <img class="img-fluid" src="asserts/img/card/1.webp" alt="">
                </div>
                <div class="card-description">
                    <h4>Someone With An Easy To Follow Mission
                    </h4>
                    <p>We makes it accessible for you to enter the world of online entrepreneurship. Each lesson is
                        packed with practical advice you can understand and use straight away.</p>
                </div>
            </div>

            <!-- single-card -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-img">
                    <img class="img-fluid" src="asserts/img/card/2.webp" alt="">
                </div>
                <div class="card-description">
                    <h4>Someone Following A Step by Step System
                    </h4>
                    <p>When you join us, you’re investing in a system that’s helping others start their own online
                        business. Easy to follow step-by-step training videos.</p>
                </div>
            </div>

            <!-- single-card -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-img">
                    <img class="img-fluid" src="asserts/img/card/3.webp" alt="">
                </div>
                <div class="card-description">
                    <h4>Someone Not Tied Down With Work
                    </h4>
                    <p>Nobody wants to spend 12-14 hours chained to a desk. With us, you won’t have as much of what
                        you learn as a one-time activity or can eventually be automated.</p>
                </div>
            </div>

            <!-- single-card -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card-img">
                    <img class="img-fluid" src="asserts/img/card/4.webp" alt="">
                </div>
                <div class="card-description">
                    <h4>Someone Transforming Into An eCommerce Veteran
                    </h4>
                    <p>Avoid common mistakes and join the ranks of winning entrepreneurs inside our private group
                        with help from a professional who’s built multiple eCommerce businesses.</p>
                </div>
            </div>
            <!-- single-card -->
        </div>
    </div>
</section>
<!-- card section -->

<!-- SPECIAL OFFER -->
<section>
    <div class="container">
        <div class="row g-3 d-flex align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="img-fluid" src="asserts/img/slider-2/course-banner-1.webp" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="slider-2-title">ENJOY OUR SPECIAL OFFER</h2>
                <div class="btn btn-6 ">
                    <button><a href="#">YES I WONT TO ENROLL !!</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SPECIAL OFFER -->

<!-- section-padding -->
<section>
    <div class="section-padding">
        <h2>See What My Students Say</h2>
    </div>
</section>
<!-- section-padding -->

<!-- Reviews section -->
<section class="reviews">
    <div class="reviews-padding">
        <div class="container">
            <!-- row  -->
            <div class="row g-3">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Very informative</h4>
                            <p><i>I truly enjoyed the workshop and learn a wealth of information. Aneka was able to
                                    answer all of my questions on how to set up my shop. She also provided quick and
                                    easy fixes for my shop issues. Her tips were very spot on and I'm very confident
                                    will put me in the right direction for earnings. She's amazing.</i></p>

                        </div>
                        <p class="review-date"><span class="spacial">Lisha</span> - on Sep 26, 2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row g-3 mt-5">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Shopify 101</h4>
                            <p><i>This class is a must if you’re interested in opening a store on Shopify. We are
                                    great full for all of the information that was provided. All of our questions
                                    were answered.</i></p>

                        </div>
                        <p class="review-date"><span class="spacial">Tiderro and Bari Williams -</span>on Aug 29,
                            2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>

            <!-- row  -->
            <div class="row g-3 mt-5">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Shopify Bootcamp</h4>
                            <p><i>You will learn everything you need to set up your Shopify store in this workshop.
                                    Super helpful and worth the investment!</i></p>

                        </div>
                        <p class="review-date"><span class="spacial">Tiandra Robinson - </span> on Aug 29, 2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row g-3 mt-5">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Necessary Training for All</h4>
                            <p><i>This training exceeded my expectations. The training was interactive, FUN, and I
                                    am grateful. Much success to the other Ladies!!!</i></p>

                        </div>
                        <p class="review-date"><span class="spacial">Shirley -</span> on Aug 15, 2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row g-3 mt-5">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Ready for the money</h4>
                            <p><i>This course will get you ready to take on this business life. All the nooks and
                                    crannies you need you to get here. I am super grateful for the course and the
                                    price. Definitely left with lots of info.</i></p>

                        </div>
                        <p class="review-date"><span class="spacial">Danassia -</span> on Aug 15, 2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row g-3 mt-5">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Shopify 101</h4>
                            <p><i>Thank you so much, Aneka for your help in Shopify 101 class. It was extremely
                                    informative for beginners, such as myself. Very patient and a jewel dropper.</i>
                            </p>

                        </div>
                        <p class="review-date"><span class="spacial">Rhondi -</span> on Apr 25, 2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>

            <!-- row  -->
            <div class="row g-3 mt-5">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Highly Recommend</h4>
                            <p><i>This workshop was so helpful! I wasn’t charging taxes on my website....uuuggghhh
                                    all the money I lost but Aneka helped me set that up. She explains everything
                                    step by step. If you need help with your Shopify store definitely take this
                                    workshop!
                                    <br><br>
                                    Thank you so much, Aneka you are the best ever!</i></p>

                        </div>
                        <p class="review-date"><span class="spacial">Quannishia Burrell -</span>on Apr 25, 2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>

            <!-- row  -->
            <div class="row g-3 mt-5">
                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                    <div class="icons">
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>

                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                    <div class="review-description ">
                        <i class="fa-solid fa-quote-left"></i>
                        <div class="review-title">
                            <h4>Aneka is the GOAT!!!</h4>
                            <p><i>This workshop was a game-changer. Thank you so much, Aneka for sharing your GEMS
                                    with us. I learned so much today.</i></p>

                        </div>
                        <p class="review-date"><span class="spacial">Xemena -</span>on Apr 25, 2021</p>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <!-- row -->
            <!-- Shopify section  -->
            <section class="Shopify-padding">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="Shopify">
                            <h2>100% Setting up your Shopify Store
                            </h2>
                            <p><b>Order right now with confidence!</b> We offer 100% Setting up your Shopify Store
                                for <br> your successful journey.</p>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Shopify section  -->

        </div>
    </div>
</section>
<!-- Reviews section -->
<section class="clock">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="clock-title">
                    <h2>SPECIAL OFFER EXPIRES IN:
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="clock_3">8:10:45 </div>
            </div>
        </div>
    </div>
</section>
<!-- clock section -->