<section class="clock">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="clock-title">
                    <h2>  {{ section.settings.title }}
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div id="clock_3">8:10:45 </div>
            </div>
        </div>
    </div>
</section>
<!-- clock section -->

<script>
      
    setInterval(function time(){
        var d = new Date();
        var hours = 24 - 13;
        var min = 60 - d.getMinutes();
        if((min + '').length == 1){
          min = '0' + min;
        }
        var sec = 60 - d.getSeconds();
        if((sec + '').length == 1){
              sec = '0' + sec;
        }
        jQuery('#clock_3').html('<h2>'+hours+'<br> <span> hours </span></h2> <span>:</span>  <h2 class="min">'+min+'<br><span> minutes </span> <br></h2> <span>:</span> <h2 class="seg">'+sec+' <br> <span> seconds </span></h2>')
      }, 1000);


</script>


<style>

    .slider-datails h3 {
        line-height: 1.2;
    }
     #clock_3{
        display: flex;
        justify-content: space-evenly;

}

    #clock_3 h2 {
        font-weight: bold;
        font-size:1.5vw;
        padding:0;
        margin:0;
        @media only screen and (max-width: 600px) and (min-width: 200px)  {
        
            font-size:6vw;
        }
    }
    #clock_3 span{
     font-weight:normal;
     
    }
</style>



{% schema %}
{
    "name": "Footer clock",
    "class": "clock",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Course Outline ",
        "placeholder": "Course Outline"
      }



      
    ],
    "presets": [
        {
        "name": "Ld one Footer clock"
   
        }
        ]
    
}
{% endschema %}