<div class="bannaer-wrapper">
  <div class="page-width"></div>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- ---- Include the above in your HEAD tag -------- -->
<section class="iq-features wow animate__bounceInRight ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12"></div>
      <div class="col-lg-6 col-md-12">
        <div class="holderCircle">
          <div class="round"></div>

          <div class="dotCircle">
            <div class="itemDot active itemDot1  icon-1" data-tab="1">
              <img
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/WEBSITE_DESIGN_360x.png?v=1680197353"
                alt=""
              >
              <span class="forActive"></span>
            </div>

            <div class="itemDot itemDot2  icon-2" data-tab="2">
              <img
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/SOCIAL_MEDIA_360x.png?v=1680197821"
                alt=""
              >

              <span class="forActive"></span>
            </div>
            <div class="itemDot itemDot3  icon-3" data-tab="3">
              <img
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/BRAND_DESIGN_1_360x.png?v=1680198714"
                alt=""
              >
              <span class="forActive"></span>
            </div>
            <div class="itemDot itemDot4  icon-4" data-tab="4">
              <img
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/SEARCH_ENGINE_OPTIMIZATION_360x.png?v=1680199096"
                alt=""
              >
              <span class="forActive"></span>
            </div>
            <div class="itemDot itemDot5  icon-5" data-tab="5">
              <img
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/DIGITAL_MARKETING_v2_360x.png?v=1680199191"
                alt=""
              >
              <span class="forActive"></span>
            </div>
            <div class="itemDot itemDot6  icon-6" data-tab="6">
              <img
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/CONTENT_WRITING_v2_360x.png?v=1680199456"
                alt=""
              >
              <span class="forActive"></span>
            </div>
          </div>

          <div class="contentCircle">
            <div class="CirItem title-box active CirItem1">
              <h2 class="title"><span>WEBSITE DESIGN</span></h2>
              <p>Our team provides custom website solutions for new or updated websites</p>

              <img
                class="nish"
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/WEBSITE_DESIGN_360x.png?v=1680197353"
                alt=""
              >
            </div>
            <div class="CirItem title-box CirItem2">
              <h2 class="title"><span>SOCIAL MEDIA </span></h2>
              <p>We provide social media marketing to help brands manage online presence.</p>

              <img
                class="nish"
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/SOCIAL_MEDIA_360x.png?v=1680197821"
                alt=""
              >
            </div>
            <div class="CirItem title-box CirItem3">
              <h2 class="title"><span>BRAND DESIGN</span></h2>
              <p>Elevate your brand authority with our design packages ideal for businesses</p>
              <img
                class="nish"
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/BRAND_DESIGN_1_360x.png?v=1680198714"
                alt=""
              >
            </div>
            <div class="CirItem title-box CirItem4">
              <h2 class="title"><span>SEARCH ENGINE OPTIMIZATION</span></h2>
              <p>Enhance online presence with SEO to drive traffic, improve ranking on search engines.</p>
              <img
                class="nish"
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/SEARCH_ENGINE_OPTIMIZATION_360x.png?v=1680199096"
                alt=""
              >
            </div>
            <div class="CirItem title-box CirItem5">
              <h2 class="title"><span>DIGITAL MARKETING</span></h2>
              <p>We use creative digital marketing solutions to increase revenue for clients.</p>
              <img
                class="nish"
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/DIGITAL_MARKETING_v2_360x.png?v=1680199191"
                alt=""
              >
            </div>
            <div class="CirItem title-box CirItem6">
              <h2 class="title"><span>CONTENT WRITING</span></h2>
              <p>Compelling content produced by our writers and content marketing packages convert</p>
              <img
                class="nish"
                src="https://cdn.shopify.com/s/files/1/0054/8808/3030/files/CONTENT_WRITING_v2_360x.png?v=1680199456"
                alt=""
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  // A $( document ).ready() block.
  $(document).ready(function () {
    new WOW().init();

    let i = 2;

    $(document).ready(function () {
      var radius = 200;
      var fields = $('.itemDot');
      var container = $('.dotCircle');
      var width = container.width();
      radius = width / 2.5;

      var height = container.height();
      var angle = 0,
        step = (2 * Math.PI) / fields.length;
      fields.each(function () {
        var x = Math.round(width / 2 + radius * Math.cos(angle) - $(this).width() / 2);
        var y = Math.round(height / 2 + radius * Math.sin(angle) - $(this).height() / 2);
        if (window.console) {
          console.log($(this).text(), x, y);
        }

        $(this).css({
          left: x + 'px',
          top: y + 'px',
        });
        angle += step;
      });

      $('.itemDot').click(function () {
        var dataTab = $(this).data('tab');
        $('.itemDot').removeClass('active');
        $(this).addClass('active');
        $('.CirItem').removeClass('active');
        $('.CirItem' + dataTab).addClass('active');
        i = dataTab;

        $('.dotCircle').css({
          transform: 'rotate(' + (360 - (i - 1) * 36) + 'deg)',
          transition: '2s',
        });
        $('.itemDot').css({
          transform: 'rotate(' + (i - 1) * 36 + 'deg)',
          transition: '1s',
        });
      });

      setInterval(function () {
        var dataTab = $('.itemDot.active').data('tab');
        if (dataTab > 6 || i > 6) {
          dataTab = 1;
          i = 1;
        }
        $('.itemDot').removeClass('active');
        $('[data-tab="' + i + '"]').addClass('active');
        $('.CirItem').removeClass('active');
        $('.CirItem' + i).addClass('active');
        i++;

        $('.dotCircle').css({
          transform: 'rotate(' + (360 - (i - 2) * 36) + 'deg)',
          transition: '2s',
        });
        $('.itemDot').css({
          transform: 'rotate(' + (i - 2) * 36 + 'deg)',
          transition: '1s',
        });
      }, 5000);
    });

    console.log('ready!');
  });
</script>

<style>
  .holderCircle:before {
    position: absolute;
    content: '';
    background: url(http://html.tonatheme.com/2019/Rivox/images/icons/shap-29.png);
    width: 707px;
    height: 1089px;
    right: 0px;
    bottom: -240px;
    transform: rotate(270deg);
    background-repeat: no-repeat;
  }
  img {
    vertical-align: baseline;
    border-style: none;
  }
  .itemDot img {
    display: inline-block;
  }
  .dotCircle .itemDot {
    padding: 7px;
    display: block;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #ffffff;
    color: #7d4ac7;
    border-radius: 20px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    z-index: 3;
    cursor: pointer;
    border: 2px solid #e6e6e6;
  }
  .title-box .title {
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    z-index: -1;
    font-size: 22px;
  }
  .title-box p {
    font-size: 15px;
    line-height: 2em;
  }
</style>

{% schema %}
{
  "name": "Rotated Banner",
  "class": "roted",
  "settings": [
    {
      "type": "text",
      "id": "h2",
      "label": "Section title",
      "default": "The Premiere Ecommerce Agency Transforming Emerging Businesses Into World-Class Brands Through The Power Of Shopify",

      "placeholder": "The Premiere Ecommerce Agency Transforming Emerging Businesses Into World-Class Brands Through The Power Of Shopify"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]
}
{% endschema %}
