<style>
.prothfolio-section{

}

</style>    
    
    <!-- card section start -->
    <section class="prothfolio-section mt-5 ">
        <div class="container">
             
        <div class="row">
        
            <div class="col-12 mb-5 ">
                <h2 class="text-center font-bold">{{ section.settings.title }}</h2>
            </div>
        </div>
        <div class="row  d-flex  align-items-center">
            {% for item in section.blocks %}

          
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-5 p-0">
                        <div class="singel-prothfoli-wrapper">
                            <img class="img-fluid" src="{{ item.settings.img | img_url:'' }}" alt="">
                            <h4> <a href="{{ item.settings.url }}" >{{ item.settings.title }} </a></h4>
                        
                       </div>
               
                       
                        
                    </div>
                    <!-- second row -->
                    
               
            {% endfor %}
        </div>

      
    </section>
    <!-- card section end -->

    {% schema %}
    {
        "name": "LD two Card",
        "class": "ldthree",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "How I can help  "
            }
        ],
        "blocks": [
            {
                "type": "card",
                "name": "card",
                "settings": [
       
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Your Image"
                    },
                     {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Website Design"
                     },
                     {
                        "type": "url",
                        "id": "url",
                        "label": "Link to the page"
                     }
                ]
            }
        ],
        
        "presets": [
            {
            "name": "LD there card"
            }
            ]
    }
 {% endschema %}