<style>
{% comment %} .prothfolio-section{

} {% endcomment %}

.singel-prothfoli-wrapper {
    background: #5A008A;
}
.singel-prothfoli-wrapper {
    background: #5A008A;
    text-align: center;
    padding: 30px 0;
    margin: 5px;
}
h4 {
    font-size: 6vh;
    color: #ffff;
}
h4 a{

    color: #ffff;
}
h4 a:hover{
    
    color: #ffff;
}
.singel-prothfoli-wrapper:hover {
    background: #DDBB5A;

}
.bluecolor.singel-prothfoli-wrapper{
    background: #DDBB5A;
}
.bluecolor.singel-prothfoli-wrapper:hover{
    background: #5A008A;
}
</style>     
    
    <!-- card section start -->
    <section class="prothfolio-section mt-5 ">
        <div class="container">
             
        <div class="row">
        
            <div class="col-12 mb-5 ">
                <h2 class="text-center font-bold">{{ section.settings.title }}</h2>
            </div>
        </div>
        <div class="row  d-flex  align-items-center">
            {% for item in section.blocks %}

          {% if item.settings.color %}
               bluecolor
          {% endif %}
                    <div class="col-lg-4 col-md-6  col-12  p-0">
                        <div class="singel-prothfoli-wrapper    {% if item.settings.color %}
                            bluecolor
                       {% endif %} ">
                            <img class="img-fluid" src="{{ item.settings.img | img_url:'' }}" alt="">
                            <h4> <a href="{{ item.settings.url }}" >{{ item.settings.title }} </a></h4>
                        
                       </div>
               
                       
                        
                    </div>
                    <!-- second row -->
                    
               
            {% endfor %}
        </div>

      
    </section>
    <!-- card section end -->

    {% schema %}
    {
        "name": "LD two Card",
        "class": "ldthree",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "How I can help  "
            }
        ],
        "blocks": [
            {
                "type": "card",
                "name": "card",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "color",
                        "label": "Select your color",
                        "default": false
                    },
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Your Image"
                    },
                     {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Website Design"
                     },
                     {
                        "type": "url",
                        "id": "url",
                        "label": "Link to the page"
                     }
                ]
            }
        ],
        
        "presets": [
            {
            "name": "LD there card"
            }
            ]
    }
 {% endschema %}