
    <!-- F.A.Q. section -->
    <section class="faq section-padding">
        <div class="container">

        <div class="row">
          <div class="col-12 ">
            {% for item in section.blocks %}
                <div class="single-faq mb-5">
                   <div class="row align-items-center">
                   <div class="col-md-4">
                    <h2 class="font-weight-bold"> Step  {{ forloop.index }}.</h2> 
                    </div>
                    <div class="col-md-6">
                        <h4>  {{ item.settings.title }}</h4>
                        <p>{{ item.settings.dec }}</p>
                    </div>
                  </div>
                
                   



                    
                </div>
            {% endfor %}
    
           </div>
    
        </div>
            <a href="#" class="btn tobottom">
                <i class="fa-solid fa-angles-right"></i> 
                {{ section.settings.btn }}
            
            </a>
        </div>

    </section>
    <!-- F.A.Q. section -->
        



    <style>
    .font-weight-bold{
     font-weight:900;
    }
    </style>












    {% schema %}
    {
        "name": "LD two Faq",
        "class": "ldtwof",
        "settings": [
            {
                "type": "text",
                "id": "btn",
                "label": "Title ",
                "default": "Get eCommerce Brand Done For You"
            }
        ],

        "blocks": [
         
            {
                "type": "Faq",
                "name": "faq",
                "settings": [
             
        
       
                     {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "WE SETUP YOUR WEBSITE AND ADD 30 PRODUCTS"
                     },
                     {
                        "type": "text",
                        "id": "dec",
                        "label": "Decription",
                        "default": "First of all, order your eCommerce Website from us and well"
                     }
                ]
            }
        ],
        
        "presets": [
            {
            "name": "LD Two faq"
            }
            ]
    }
 {% endschema %}