    <!-- just img reviews section -->
    <section class="section-padding ">
        <div class="container">
            <div class="row  mb-5 ">
                {% for item in section.blocks %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img class="img-fluid" src="{{ item.settings.img | img_url:'' }}" alt="">
                </div>
            {% endfor %}
            </div>
        </div>
    </section>


    <!-- just img reviews section -->
    <div class="review-end-title section-padding">
        <h2 class="title-padding">{{ section.settings.title }}</h2>
        <h3 class="color-perpal">{{ section.settings.dec }}
        </h3>
        <a href="#" class="btn ">
            <i class="fa-solid fa-angles-right"></i> 
            {{ section.settings.btn }}
        
        </a>
    </div>

    </div>
    
    










    {% schema %}
    {
        "name": "LD two review",
        "class": "ldtwof",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "title",
                "default": "There has never been a better time to get into E-commerce!"
            },
            {
                "type": "text",
                "id": "dec",
                "label": "dec",
                "default": "There has never been a better time to get into E-commerce!"
            },
            {
                "type": "text",
                "id": "btn",
                "label": "Title ",
                "default": "Get eCommerce Brand Done For You"
            }
        ],

        "blocks": [
         
            {
                "type": "Faq",
                "name": "faq",
                "settings": [
             
        
       
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Select your image"
                }
                ]
            }
        ],
        
        "presets": [
            {
            "name": "LD two review"
            }
            ]
    }
 {% endschema %}


 <style>

    .title-dec p {
        color: #56048A;
    font-weight: 700;
    text-shadow: 1px 1px 2px #56048a;
    }
    .review-end-title h3 {
        color: #56048A;
        font-weight: 700;
        text-shadow: 1px 1px 2px #56048a;
    }
</style>