{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
          
          <div class="collection-grid__wrapper">
            {% section 'image-with-text-discovery-one' %}
              {% comment %}
            {% section 'image-with-text-discovery-two' %}
          
            {% section 'image-with-text-discovery-three' %}
           
             {% section 'text-coulm-collection' %}
              {% endcomment %}
              <script src="https://assets.tidycal.com/js/embed.js" async></script>
              <div class="tidycal-embed" data-path="theecommbuilderbooking/ecommbuilder15discoverymeeting"></div>
              
            <!-- Calendly inline widget end -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
