{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
          
          <div class="collection-grid__wrapper">
            {% section 'image-with-text-seo-one' %}
            {% section 'image-with-text-seo-two' %}
            {% comment %}
            {% section 'image-with-text-seo-three' %}
            {% endcomment %}
             {% section 'text-coulm-collection' %}
            {% section 'collection-template-plan-2' %}
             {% section 'collection-promotions' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {

  $( '.tobottom' ).on( 'click', function(e){
    e.preventDefault();
   
    // Run a scroll animation to the position of the element which has the same id like the href value.
    $( 'html, body' ).animate({
      scrollTop: $("#CollectionSection").offset().top
    }, '300' );
  
  
  });

});
</script>